attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
python-decouple==3.8
idna==3.10
isodate==0.7.2
lxml==5.4.0
numpy==2.2.5
pandas==2.2.3
platformdirs==4.3.7
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
zeep==4.3.1
